#outside{
    background: #222831;
}

#box {
    background: #393E46;
    border-radius: 10%;
    width: clamp(320px, 50vw, 700px);
    height: clamp(320px, 40vw, 700px);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    #box {
        width: 70vw;
        height: 65vw;
    }
}

.button {
    background: #00ADB5;
    color: #EEEEEE;

    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: 1000;
    font-family:serif;
    font-family: Georgia, 'Times New Roman', Times, serif;

    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(100px, 65%, 350px);
    height: clamp(60px, 20%, 180px);

    box-shadow: 0 2px 10px black;
    border-radius: 10%;
    border: none;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.title {
    font-size: clamp(1rem, 10vw, 5rem);
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: #EEEEEE;
}

h1 {
    padding-bottom: 10%;
    font-size: clamp(.5rem, 5vw, 2.5rem);
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    color: #EEEEEE;
}